@charset "UTF-8";

body {
	font-family: Arial, sans-serif;
	margin: 20px; /* ← この部分 */
	background-image: url(img/background03.jpg);
	background-size: cover;
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    min-height: 100vh;
    /* margin: 0; と padding: 0; はコメントアウトまたは記述なし */
}

html {
    height: 100%;
}